.App{
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}

.Center{
  display: flex;
  justify-content: center;
  align-items: center;
}


table, th, td {
  border: 1px solid black;
}

th{
  width: 200px;
}